.HeaderMain {
  &__search {
    position: relative;
    background-color: fade(white, 0.15);
    margin-right: 2px;
    margin-left: 0;
    width: auto;
    min-width: 300px;
    &:hover {
      background-color: fade(white, 0.25);
    }
  }

  &__search-icon {
    width: 70px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__search-root {
    align-self: flex-start;
    color: inherit;
  }

  &__search-input {
    color: white !important;
    padding: 8px 8px 8px 56px;
    width: 100%;
  }
}
