.Layout {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__header {
    background-color: #282c34;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}
